Tanya Gupta

014263158

CS156 Section 4

Term Project

Diamond Prices Prediction

Sources:
https://fivestepguide.com/technology/machine-learning/diamond-price-prediction-using-machine-learning/#Regression-Evaluation-Metrics

In [ ]:
import numpy as np
import pandas as pd
from sklearn import datasets
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [ ]:
df = pd.read_csv('DiamondsPrices.csv') 
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [ ]:
numeric = df
numeric = pd.get_dummies(numeric, columns=["cut", "color", "clarity"], prefix = ["cut", "color", "clarity"])
numeric.columns

Index(['carat', 'depth', 'table', 'price', 'x', 'y', 'z', 'cut_Fair',
       'cut_Good', 'cut_Ideal', 'cut_Premium', 'cut_Very Good', 'color_D',
       'color_E', 'color_F', 'color_G', 'color_H', 'color_I', 'color_J',
       'clarity_I1', 'clarity_IF', 'clarity_SI1', 'clarity_SI2', 'clarity_VS1',
       'clarity_VS2', 'clarity_VVS1', 'clarity_VVS2'],
      dtype='object')

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(numeric[['carat', 'depth', 'table', 'x', 'y', 'z', 'cut_Fair',
       'cut_Good', 'cut_Ideal', 'cut_Premium', 'cut_Very Good', 'color_D',
       'color_E', 'color_F', 'color_G', 'color_H', 'color_I', 'color_J',
       'clarity_I1', 'clarity_IF', 'clarity_SI1', 'clarity_SI2', 'clarity_VS1',
       'clarity_VS2', 'clarity_VVS1', 'clarity_VVS2']],  numeric['price'], test_size=0.2, random_state=0)
X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((43152, 26), (43152,), (10788, 26), (10788,))

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model1= DecisionTreeClassifier(random_state=0)
model1.fit(X_train,Y_train)
y_pred1 = model1.predict(X_test)

print('Accuracy of linear SVR on training set: {:.2f}'.format(model1.score(X_train, Y_train)))

print('Accuracy of linear SVR on test set: {:.2f}'.format(model1.score(X_test, Y_test)))

In [ ]:
from sklearn.model_selection import cross_val_score 
scores = cross_val_score(model1, X_train, Y_train, cv=5)
print("Individual Cross-Validation Accuracies: "+str(scores))
print("Mean Accuracy: "+ str(np.mean(scores)))

In [ ]:
from sklearn.svm import LinearSVR
model = LinearSVR()
model.fit(X_train,Y_train)
y_pred = model.predict(X_test)

print('Accuracy of linear SVR on training set: {:.2f}'.format(model.score(X_train, Y_train)))

print('Accuracy of linear SVR on test set: {:.2f}'.format(model.score(X_test, Y_test)))

In [ ]:
scores = cross_val_score(model, X_train, Y_train, cv=5)
print("Individual Cross-Validation Accuracies: "+str(scores))
print("Mean Accuracy: "+ str(np.mean(scores)))